<navbar></navbar>
<div class="container mt-5">
<div class="row mt-5">
    <h3>{{title|uppercase}}</h3>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th  scope="col" *ngFor="let item of day" >{{item}}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">08.00-09.00</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td> 
            <td class="bg-success">Derya Yılmaz öğrenci adı-A dersi</td>
          </tr>
          <tr>
            <th scope="row">09.00-10.00</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td class="bg-danger">ipek Işık-c dersi</td>
            <td></td>
            <td></td> 
            
          </tr>
          <tr>
            <th scope="row">10.00-11.00</th>
            <td></td>
            <td></td>
            <td></td>
            <td class="bg-warning">Ali Kalaycı -B dersi</td>
            <td></td>
            <td></td>
            <td></td> 
          
          </tr>
          <tr>
            <th scope="row">11.00-12.00</th>
            <td></td>
            <td></td>
            <td></td>
            <td class="bg-warning">Ali Kalaycı -B dersi</td>
            <td></td>
            <td></td>
            <td></td> 
          
          </tr>
          <tr>
            <th scope="row">13.00-14.00</th>
            <td></td>
            <td></td>
            <td></td>
            <td class="bg-warning">Ali Kalaycı -B dersi</td>
            <td></td>
            <td></td>
            <td></td> 
          
          </tr>
        </tbody>
      </table>
</div>
 <div class="row mt-5">
    <ul>
       <li> <i style="color: rgb(216, 232, 48);" class=" fa fa-car"></i> Onay Bekliyor</li>
      <li>  <i style="color: green;" class=" fa fa-car"></i>Aktif Randevu</li>
     <li> <i style="color: red;" class=" fa fa-car"></i>  İptal edilen Randevu</li>
    </ul>
 </div>
</div>