
<navbar></navbar>
<div class="container mt-5 border bg-light">
<h3>ÖĞRENCİLER</h3>
  <!--Öğrenciler-->
  <table class="table">
    <thead>
      <tr class="text-success">
        <th scope="col">#</th>
        <th scope="col">AD-SOYAD</th>
        <th scope="col">TELEFON</th>
        <th scope="col">DURUM</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>05664885</td>
        <td>AKTİF</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Mark</td>
        <td>05664885</td>
        <td>PASİF</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Mark</td>
        <td>05664885</td>
        <td>PASİF</td>
      </tr>
    </tbody>
  </table>

    </div>