

<div class="govde border ">
    <div class=" form">
    <form class="   form-signin text-center p-5  mb-5 mt-5">
      <img class="mb-4 w-50" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTenrLmQQo-YJVjzjp8HEtrtTUBXfOXJ4BIiPXMWSV1ERIJLAQ32KvhY_N-9e42jLFDbmc&usqp=CAU" alt="" >
      <h1 class="h3 mb-3 text-white font-weight-normal">RANDEVU SİSTEMİ </h1>
      <label for="inputEmail" class="sr-only">Email </label>
      <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
      <label for="inputPassword" class="sr-only">Şifre</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
      <div class="checkbox mb-3">
        <label class="text-white" >
          <input type="checkbox"  value="remember-me"> Beni Hatırla
        </label>
      </div>
      <!---yetkilendirme kısmı şimdilik müşteri sayfasına yönlendirelim-->
      <a routerLink="/{{yetki[0]}}" routerLinkActive="active" ><button class="btn btn-lg btn-primary btn-block text-white" type="submit">Sign in</button></a> 
      <p class="text-white mt-5 mb-3 ">2017-2018</p>
  
    </form>
</div>

<div id="loom-companion-mv3" ext-id="liecbddmkiiihnedobmlmillhodjkdmb"><section id="shadow-host-companion"></section></div>
</div>