<nav class="bg-primary">
    <div class="container-fluid  ">
      <div class="navbar-header  justify-content-start">
        <!--loginde yetki kime aitse onun anasayfasına gitmek  için  -->
        <a class="navbar-brand" href="#" routerLink="/{{yetki[0]}}" routerLinkActive="active"  >WebSiteName</a>
      </div>
      
      <ul class="nav navbar-nav navbar-right">
       
        <li ><a href="# " routerLink="/login" routerLinkActive="active"  ><span class="glyphicon glyphicon-log-in text-white"></span><b class="text-white">  Oturumu Kapat</b> </a></li>
      </ul>
    </div>
    
  </nav>




   