
<navbar></navbar>
<div class="container bg-light mt-5 ">
  
<div class="row mt-5 mx-3">
    <!--profil-->
    <div class="col  ">
        
        <div class="border bg-info" style="width:400px">
          <img class="card-img-top p-5" src="https://images.pexels.com/photos/2380794/pexels-photo-2380794.jpeg?cs=srgb&dl=pexels-kevin-bidwell-2380794.jpg&fm=jpg" alt="Card image" >
          <div class="card-body text-center">
            <h4 class="card-title">John Doe</h4>
            <h4 class="card-title">EĞİTMEN</h4>
            <h4 class="card-title">TC:65496864896</h4>
            <h4 class="card-title">Adres:kldmcfkowenkdlewkd</h4>
            <h4 class="card-title">Telfon:nwkjdnewjkd</h4>
            <h4 class="card-title">Mail:mdksnckldmckla</h4>
            <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
            
          </div>
        </div>
    </div>
    <!--sistem butonları-->

    <div class="col ">
        <div class="row my-5">
            <div class=" text-white bg-white mb-3" style="max-width: 18rem;">
              
                <a routerLink="/employeeRandevu" routerLinkActive="active" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">
                    <i style="font-size: 105px; color:whitesmoke;" class=" mb-3 px-3  fa fa-plus-square">
                    </i><br>Yeni Randevu
                </a>
              </div>
              <div class=" text-white bg-white mb-3" style="max-width: 18rem;">
              
                <a routerLink="/employeeRandevularim" routerLinkActive="active" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">
                    <i style="font-size: 105px; color:whitesmoke;" class=" mb-3 px-3  fa fa-car">
                    </i><br>Randevularım
                </a>
              </div>
              <div class=" text-white bg-white mb-3" style="max-width: 18rem;">
               
                <a routerLink="/employeeBildirim" routerLinkActive="active" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">
                    <i style="font-size: 105px; color:whitesmoke;" class=" mb-3 px-3 fa fa-list-alt">
                    </i><br>Bildirimlerim
                </a>
              </div>
              <div class=" text-white bg-white mb-3" style="max-width: 18rem;">
                
                <a routerLink="/musteri" routerLinkActive="active" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">
                    <i style="font-size: 105px; color:whitesmoke;" class=" mb-3 px-3  fa fa-user">
                    </i><br>Öğrenciler
                </a>
              </div>
              <div class=" text-white bg-white mb-3" style="max-width: 18rem;">
                
                <a routerLink="/sorucevap" routerLinkActive="active" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">
                    <i style="font-size: 105px; color:whitesmoke;" class=" mb-3 px-3  		fa fa-thumbs-up">
                    </i><br>Cevap
                </a>
              </div>
              <div class=" text-white bg-white mb-3" style="max-width: 18rem;">
               
                <a routerLink="/employeeAnaliz" routerLinkActive="active" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">
                    <i style="font-size: 105px; color:whitesmoke;" class=" mb-3 px-3  fa fa-bar-chart">
                    </i><br>Analiz
                </a>
              </div>
             
        </div>
    </div>
</div>







