<navbar></navbar>
<div class="container mt-5 border border-light p-5 ">
    <h3>YENİ RANDEVU </h3>
    <div class=" row mt-5 ">
      <h4>ŞehirSeçiniz:</h4> 
      <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
          <option selected> Ankara</option>
          <option value="1">kayseri</option>
        
        </select>
  </div>
    <div class=" row mt-5 ">
        <h4>Öğrenci Seçiniz:</h4> 
        <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
            <option selected> Hakan Yıldırım</option>
            <option value="1">Gamze Işık</option>
            <option value="2">Deniz Tuna</option>
            <option value="3">Seher Kara</option>
          </select>
    </div>
    <div class="row mt-5">
        <h4>Ders Seçiniz:</h4> 
        <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
            <option selected> Trafik</option>
            <option value="1">...</option>         
          </select>
    </div>
    <div class="row mt-5">
        <h4>Tarih ve saat</h4> 
        <div class="col"> 
            <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
            <option selected>12.05.2023</option>
            <option value="1">13.05.2023</option>         
          </select>
        </div>
       
        <div class="col">
            <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
                <option selected> 08.00</option>
                <option value="1">09.00</option>         
              </select>
        </div>
    </div>
    <div class="row mt-5">
        <h4>Öğrenciye not:</h4> 
        <input type="text" placeholder="Not bırakabilirsiniz:">
    </div>
    <div class="row mt-5">
      <button class="bg-primary text-white border border-primary">Gönder</button>
    </div>
</div>